---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-4HS8r9Qaz6ony+QRP3jvVg"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","expires":"<%= DateTime.now + 1
        %>","refreshToken":"test-refresh-token"}'
  recorded_at: Tue, 27 Oct 2020 18:36:02 GMT
recorded_with: VCR 6.0.0
