---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-wrong-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - text/html; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"f-RGtBbVNe0/VH/NZT3BHUnA"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","refreshToken":"test-refresh-token","expires":"<%=
        DateTime.now + 1 %>"}'
  recorded_at: Sun, 02 Aug 2020 17:21:38 GMT
recorded_with: VCR 6.0.0
