---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-UuvWuH8uGOH9ctHIhkqNew"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","expires":"<%= DateTime.now + 1
        %>","refreshToken":"test-refresh-token"}'
  recorded_at: Sat, 22 Aug 2020 19:58:02 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"Patient":{"Demographics":{"FirstName":"Unknown","LastName":"Person","DOB":"01-01-01","Address":{"ZIP":"11111"}}},"Meta":{"DataModel":"PatientSearch","EventType":"Query","EventDateTime":"2020-08-22T15:58:02-04:00","Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"10f-RRM/YhEckaO/bH8zQpCviA"
    body:
      encoding: UTF-8
      string: '{"Patient":{},"Meta":{"DataModel":"PatientSearch","EventType":"Query","Message":{"ID":4620331542},"Source":{"ID":"c4af9824-fd44-4515-bbd0-d4cf83f9888a"},"Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64","Name":"Redox
        Data On Demand Sandbox Destination (s)"}]}}'
  recorded_at: Sat, 22 Aug 2020 19:58:02 GMT
recorded_with: VCR 6.0.0
