---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-OVKKEcaRQu5i6CQ/kryxAA"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","expires":"<%= DateTime.now + 1
        %>","refreshToken":"test-refresh-token"}'
  recorded_at: Sat, 22 Aug 2020 21:50:31 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"StartDateTime":"2016-01-01T00:00:00+00:00","Meta":{"DataModel":"Scheduling","EventType":"Booked","EventDateTime":"2020-08-22T17:50:30-04:00","Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"378c1-D/movXBs8kz5jZY1vcZbGQ"
    body:
      encoding: UTF-8
      string: '{"Visits":[{"VisitNumber":3514,"VisitDateTime":"2020-06-05T19:05:33.154Z","Duration":15,"Status":"Scheduled","Reason":"Check
        up","AttendingProvider":{"ID":"4356789876","IDType":"NPI","FirstName":"Pat","LastName":"Granite","Address":{"StreetAddress":"123
        Main St.","City":"Madison","State":"WI","County":"Dane","ZIP":"53703","Country":"USA"},"PhoneNumber":{"Office":"+16085551234"},"Credentials":["MD"]},"Location":{"Room":"136","Department":"3N","Type":"Inpatient","Facility":"RES
        General Hospital"},"Patient":{"Identifiers":[{"ID":"0000000001","IDType":"MR"},{"ID":"e167267c-16c9-4fe3-96ae-9cff5703e90a","IDType":"EHRID"},{"ID":"a1d4ee8aba494ca","IDType":"NIST"}],"Demographics":{"FirstName":"Timothy","MiddleName":"Paul","LastName":"Bixby","DOB":"2008-01-06","Sex":"Male","Address":{"StreetAddress":"4762
        Hickory Street","City":"Monroe","State":"WI","County":"Green","ZIP":"53566","Country":"US"},
        "EmailAddresses":["tim@example.net"],
        "PhoneNumber":{"Home":"+18088675301"},"MaritalStatus":"Married","IsDeceased":false,"SSN":"101-01-0001","Race":"White","Language":"en"},"Contacts":[{"FirstName":"Barbara","LastName":"Bixby","PhoneNumber":{"Home":"+18088675303","Office":"+17077543758","Mobile":"+19189368865"},"EmailAddresses":["barb.bixby@test.net"],"Address":{"StreetAddress":"4762
        Hickory Street","City":"Monroe","State":"WI","County":"Green","ZIP":"53566","Country":"US"},"RelationToPatient":"Mother","Roles":["Emergency
        Contact"]}]}},{"VisitNumber":6503,"VisitDateTime":"2020-06-06T19:05:33.370Z","Duration":15,"Status":"Scheduled","Reason":"Check
        up","AttendingProvider":{"ID":"4356789876","IDType":"NPI","FirstName":"Pat","LastName":"Granite","Address":{"StreetAddress":"123
        Main St.","City":"Madison","State":"WI","County":"Dane","ZIP":"53703","Country":"USA"},"PhoneNumber":{"Office":"+16085551234"},"Credentials":["MD"]},"Location":{"Room":"136","Department":"3N","Type":"Inpatie[...]
[...]
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-AdKD6osJJ9HG0ZRTWokQfg"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","expires":"<%= DateTime.now + 1
        %>","refreshToken":"test-refresh-token"}'
  recorded_at: Sat, 22 Aug 2020 22:21:36 GMT
recorded_with: VCR 6.0.0
