---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-xio6WRaqFNAElb4f6kEdfQ"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","expires":"<%= DateTime.now + 1
        %>","refreshToken":"test-refresh-token"}'
  recorded_at: Sat, 13 Feb 2021 20:03:38 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"StartDateTime":"2020-01-01T00:00:00+00:00","EndDateTime":"2022-01-01T00:00:00+00:00","Visit":{"Patients":[{"Identifiers":[{"IDType":"ST01","ID":"60067224"}]}]},"Meta":{"DataModel":"Scheduling","EventType":"Booked","EventDateTime":"2021-02-13T15:03:38-05:00","Destinations":[{"ID":"0a07ac7c-577d-46b8-865f-1a75a7dfcd12"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"498-sL7q36vPqpNJUdvDroLsSg"
    body:
      encoding: UTF-8
      string: '{"Visits":[{"VisitNumber":"9841","VisitDateTime":"2021-02-05T17:45:00.000Z","Duration":20,"Status":"Arrived","Reason":"ESTABLISHED","AttendingProvider":{"ID":"1202","IDType":"STARPROVID","FirstName":"Pat","LastName":"Granite"},"ReferringProvider":{"ID":"1051","IDType":"STARPROVID","FirstName":"Tim","LastName":"Bixby"},"VisitProvider":{"ID":"1202","IDType":"STARPROVID","FirstName":"Pat","LastName":"Granite"},"Location":{"Department":"D1","Facility":"FAC-2"},"Patient":{"Identifiers":[{"ID":"600224","IDType":"ST01"}],"Demographics":{"FirstName":"Testpt","LastName":"Cadphynd","DOB":"1970-01-01","Sex":"Female","EmailAddresses":["none@email.example.com"],"IsDeceased":false,"SSN":"123-45-6789","Race":"White","Language":"en"}}}],"Meta":{"DataModel":"Scheduling","EventType":"Booked","Message":{"ID":6352609957},"Source":{"ID":"c4af9824-fd44-4515-bbd0-d4cf83f9888a"},"Destinations":[{"ID":"0a07ac7c-577d-46b8-865f-1a75a7dfcd12","Name":"My Hospital"}]}}'
  recorded_at: Sat, 13 Feb 2021 20:03:38 GMT
recorded_with: VCR 6.0.0
