---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-nV5KyDIpHNIVP3A/MVj4pw"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","refreshToken":"test-refresh-token","expires":"<%=
        DateTime.now + 1 %>"}'
  recorded_at: Mon, 17 Aug 2020 13:39:55 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"Patient":{"Demographics":{"LastName":"Bixby","Address":{"ZIP":"53566"}}},"Meta":{"DataModel":"PatientSearch","EventType":"Query","EventDateTime":"2020-08-17T09:39:55-04:00","Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"194-rBRvMywE2yx5HQkExyx4nQ"
    body:
      encoding: UTF-8
      string: '{"Meta":{"DataModel":"PatientSearch","EventType":"Query","Message":{"ID":4573929340},"Source":{"ID":"c4af9824-fd44-4515-bbd0-d4cf83f9888a","Name":"Proto
        Staging"},"Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64","Name":"Redox
        Data On Demand Sandbox Destination (s)"}],"Errors":[{"ID":85164995,"Text":"Data
        Chateau v2 service returned status code 400","Type":"transmission","Module":"Send"}]}}'
  recorded_at: Mon, 17 Aug 2020 13:39:56 GMT
recorded_with: VCR 6.0.0
