---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-PiT3AbIIQH6+jcQLqnTRHQ"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-api-key","refreshToken":"test-secret","expires":"<%=
        DateTime.now + 1 %>"}'
  recorded_at: Wed, 12 Aug 2020 01:59:54 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"Meta":{"DataModel":"PatientSearch","EventType":"Query","EventDateTime":"2020-08-11T21:59:54-04:00","Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"194-Mx1ISD0VuB58TYsYGAJGRQ"
    body:
      encoding: UTF-8
      string: '{"Meta":{"DataModel":"PatientSearch","EventType":"Query","Message":{"ID":4536334747},"Source":{"ID":"c4af9824-fd44-4515-bbd0-d4cf83f9888a","Name":"Proto
        Staging"},"Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64","Name":"Redox
        Data On Demand Sandbox Destination (s)"}],"Errors":[{"ID":84607512,"Text":"Data
        Chateau v2 service returned status code 400","Type":"transmission","Module":"Send"}]}}'
  recorded_at: Wed, 12 Aug 2020 01:59:54 GMT
recorded_with: VCR 6.0.0
