---
http_interactions:
- request:
    method: post
    uri: https://candi.redoxengine.com/auth/authenticate
    body:
      encoding: UTF-8
      string: '{"apiKey":"test-api-key","secret":"test-secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"91-Es2blc2zebvjdSt3N7IaSA"
    body:
      encoding: UTF-8
      string: '{"accessToken":"test-access-token","refreshToken":"test-refresh-token","expires":"<%=
        DateTime.now + 1 %>"}'
  recorded_at: Sun, 16 Aug 2020 20:55:20 GMT
- request:
    method: post
    uri: https://candi.redoxengine.com/endpoint
    body:
      encoding: UTF-8
      string: '{"Patient":{"Demographics":{"FirstName":"Timothy","LastName":"Bixby","DOB":"2008-01-06","Address":{"ZIP":"53566"}}},"Meta":{"DataModel":"PatientSearch","EventType":"Query","EventDateTime":"2020-08-16T16:55:19-04:00","Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64"}]}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src https:; style-src https: ''unsafe-inline''; object-src ''none'''
      etag:
      - W/"923-UuFO81KIM/QWUcdqUGKF1Q"
    body:
      encoding: ASCII-8BIT
      string: '{"Patient":{"Identifiers":[{"ID":"0000000001","IDType":"MR"},{"ID":"e167267c-16c9-4fe3-96ae-9cff5703e90a","IDType":"EHRID"},{"ID":"a1d4ee8aba494ca","IDType":"NIST"}],"Demographics":{"FirstName":"Timothy","MiddleName":"Paul","LastName":"Bixby","DOB":"2008-01-06","Sex":"Male","Address":{"StreetAddress":"4762
        Hickory Street","City":"Monroe","State":"WI","County":"Green","ZIP":"53566","Country":"US"},"PhoneNumber":{"Home":"+18088675301"},"MaritalStatus":"Married","IsDeceased":false,"SSN":"101-01-0001","Race":"White","Language":"en"},"PCP":{"NPI":"4356789876","ID":"4356789876","IDType":"NPI","FirstName":"Pat","LastName":"Granite","Address":{"StreetAddress":"123
        Main St.","City":"Madison","State":"WI","County":"Dane","ZIP":"53703","Country":"USA"},"PhoneNumber":{"Office":"+16085551234"},"Credentials":["MD"]},"Contacts":[{"FirstName":"Barbara","LastName":"Bixby","PhoneNumber":{"Home":"+18088675303","Office":"+17077543758","Mobile":"+19189368865"},"EmailAddresses":["barb.bixby@test.net"],"Address":{"StreetAddress":"4762
        Hickory Street","City":"Monroe","State":"WI","County":"Green","ZIP":"53566","Country":"US"},"RelationToPatient":"Mother","Roles":["Emergency
        Contact"]}],"Insurances":[{"PolicyNumber":"9140860055","EffectiveDate":"2015-01-01","ExpirationDate":"2020-12-31","GroupNumber":"847025-024-0009","GroupName":"Accelerator
        Labs","Plan":{"ID":"31572","Name":"HMO Deductable Plan"},"Company":{"ID":"60054","Name":"aetna
        (60054 0131)","Address":{"StreetAddress":"PO Box 14080","City":"Lexington","State":"KY","County":"Fayette","ZIP":"40512-4079","Country":"US"},"PhoneNumber":"+18089541123"}}],"Guarantor":{"Number":"10001910","FirstName":"Kent","LastName":"Bixby","Address":{"StreetAddress":"4762
        Hickory Street","City":"Monroe","State":"WI","County":"Green","ZIP":"53566","Country":"USA"},"RelationToPatient":"Father","Spouse":{"FirstName":"Barbara","LastName":"Bixby"},"Employer":{"Name":"Accelerator
        Labs","Address":{"StreetAddress":"1456 Old Sauk Road","City":"Madison","State":"WI","County":"Dane","ZIP":"53719","Country":"USA"},"PhoneNumber":"+18083451121"}}},"Meta":{"DataModel":"PatientSearch","EventType":"Query","Message":{"ID":4569885864},"Source":{"ID":"c4af9824-fd44-4515-bbd0-d4cf83f9888a"},"Destinations":[{"ID":"6310353a-eed7-44a1-b2bc-d017f4f33d64","Name":"Redox
        Data On Demand Sandbox Destination (s)"}]}}'
  recorded_at: Sun, 16 Aug 2020 20:55:20 GMT
recorded_with: VCR 6.0.0
